@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --black-bg: #171717;
    --black-box: #222222;
    --white-color: #FFFFFF;
    --gray-color: #ffffff10;
    --red-color: #EB5855;
    --placeholder-color: #ffffff50
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", sans-serif;
    background-color: var(--black-bg);
    color: var(--white-color);

    line-height: 1.5rem;

}

/* MAIN */

.container {
    max-width: 1000px;
    margin: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    font-family: "Orbitron", sans-serif;


}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: var(--white-color);
}

input {
    background: transparent;
    border: none;
    color: var(--white-color);
    outline: none;
}

input::placeholder {
    color: var(--placeholder-color);
}

/* UI */

.selected {
    color: var(--red-color);
}

.login__btn {
    background: var(--gray-color);
    padding: 12px 24px;
    border-radius: 34px;

}

.link {
    text-decoration: dashed;
}

.main__btn {
    background: var(--red-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;

}

.main__btn:hover {
    transform: translateY(-3px);
}

.input {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    border-radius: 10px;
    background: var(--black-box);
    padding: .5rem 1rem;
}



/* HEADER */

header .container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 20px;
    font-weight: bold;
}

header ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* PAGE HOME index.html */

.hero {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.hero .left img {
    width: 300px;
    border-radius: 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgb(0, 0, 0) 30px 30px 8px;
}

.hero .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
}

.hero .right .info p {
    margin-bottom: 1rem;
}

/* PAGE COLLECTIONS collections.html */

.menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.choices .input {
    padding: 0;
    padding-top: .5rem;
}

.collections {
    margin-top: 1rem;
    display: flex;
}
.collections .items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0 1rem;

}
.collections .items .item {
    width: calc(765px / 3 - 1.3rem);
    padding-bottom: 1rem;
    transition: .3s;
}

.fav .items .item {
    width: calc(1000px / 4 - 1.3rem );

}
.collections .items .item:hover {
    transform: translateY(-3px);
}

.collections .items .item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.collections .items .item p {
    padding: 0 .5rem;
    background: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collections .items .item p button img {
    box-shadow: none;
}